{% extends "registro/base.html" %}

{% block title %}
Mis datos
{% endblock %}

{% block content %}
      <h3>Información personal:</h3>
      <table class="table table-hover">
            <tr><td> Dni: </td><td> {{ object.dni }} </td></tr>
            <tr><td> Boleto: </td><td> {{ object.boleto }} </td></tr>
            <tr><td> Email: </td><td> {{ object.email }} </td></tr>
            <tr><td> Nombre: </td><td> {{ object.nombre }} </td></tr>
            <tr><td> Apellido paterno: </td><td> {{ object.apellido_paterno }} </td></tr>
            <tr><td> Apellido materno: </td><td> {{ object.apellido_materno }} </td></tr>
            <tr><td> Sexo: </td><td> {{ object.get_sexo_display }} </td></tr>
            <tr><td> Fecha de nacimiento: </td><td> {{ object.fecha_nacimiento }} </td></tr>
            <tr><td> Departamento: </td><td> {{ object.get_departamento_display }} </td></tr>
            <tr><td> Direccion: </td><td> {{ object.direccion }} </td></tr>
            {% if object.referencia %}
            <tr><td> Referencia: </td><td> {{ object.referencia }} </td></tr>
            {% endif %}
            {% if object.telefono_fijo %}
            <tr><td> Telefono fijo: </td><td> {{ object.telefono_fijo }} </td></tr>
            {% endif %}
            {% if object.celular %}
            <tr><td> Celular: </td><td> {{ object.celular }} </td></tr>
            {% endif %}
      </table>
      <h3>Status:</h3>
      <table class="table table-hover">
            <tr><td>Status: </td><td> {{ object.get_status_display }} </td></tr>
            {% if object.carnet_universitario %}
            <tr><td> Carnet universitario: </td><td> {{ object.carnet_universitario }} </td></tr>
            {% endif %}
            {% if object.profesion %}
            <tr><td> Profesion: </td><td> {{ object.profesion }} </td></tr>
            {% endif %}
            {% if object.empresa %}
            <tr><td> Empresa: </td><td> {{ object.empresa }} </td></tr>
            {% endif %}
            {% if object.cargo %}
            <tr><td> Cargo: </td><td> {{ object.cargo }} </td></tr>
            {% endif %}
            
      </table>
      <h3>PMI:</h3>
      <table class="table table-hover">
            <tr><td> Miembro: </td><td> {% if object.miembro_pmi %} Si {% else %} No {% endif %} </td></tr>
            {% if object.numero_miembro_pmi %}
            <tr><td> Numero miembro PMI: </td><td> {{ object.numero_miembro_pmi }} </td></tr>
            {% endif %}
      </table>
      {% if object.numero_operacion %}
      <h3>Boucher:</h3>
      <table class="table table-hover">

            <tr><td> Nro de operacion: </td><td> {{ object.numero_operacion }} </td></tr>
            <tr><td> Monto: </td><td> {{ object.monto }} </td></tr>
            <tr><td> Fecha de operacion: </td><td> {{ object.fecha_operacion }} </td></tr> 
      </table>
      {% endif %}
      <h3>Factura:</h3>
      <table class="table table-hover">
            <tr><td> Factura: </td><td> {% if object.miembro_pmi %} Si {% else %} No {% endif %} </td></tr>
            {% if object.ruc %}
            <tr><td> Ruc: </td><td> {{ object.ruc }} </td></tr>
            <tr><td> Nombre jurídico: </td><td> {{ object.nombre_juridico }} </td></tr>
            <tr><td> Dirección fiscal: </td><td> {{ object.direccion_fiscal }} </td></tr> 
            {% endif %}
      </table>


      <a href="{% url 'registro:modificar' %}">
        <button type="button">Modificar</button>
      </a>
      <a href="{% url 'registro:logout' %}">
        <button type="button">Salir</button>
      </a>

{% endblock %}
